@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.contenido {
    width: 98%;
    margin: auto;
}

.icon-paw {
    float: left;
}

header {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

h1 {
    font-size: 1.5em;
    float: left;
    animation: flip;
    animation-duration: 2s;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}



.copy {
    font-size: 20px;
    margin: 20px;
}


.redes {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.redes ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.redes li {
    list-style-type:none;
}

.redes a {
    color: #333;
    height: 50px;
    text-decoration: none;
    padding: 15px;
}
.nosotros-container{
    font-size: 1.2em;
    text-align: center;
    padding: 10em 10em 10em 10em;
display: grid;
}
h3{
    font-size: 1.5em;
   
}
.grid-container{
   
   display: grid;
   grid-template-rows: 20 20 20;
   height: 70%;
   width: 100%;
   padding: 1em;
   font-size: 1em;
    background-color: rgb(158, 195, 172);
    align-items: flex-start
   
}
.item1{
    padding: 2em;
    border-top: 2px solid rgb(36, 50, 59);
    
}
.img1{
    width: 14em;
    height: 12em;
    float: left;   
    border: 0.2em solid rgb(41, 32, 32);
    margin: 1em;
}
.item2{
    padding: 2em;
    border-top: 2px solid rgb(36, 50, 59);

    
}
.img2{
    width: 14em;
    height: 12em;
    float: left;
    border: 0.2em solid rgb(41, 32, 32);
    margin: 1em;
}

.item3{
    padding: 2em;
    border-top: 2px solid rgb(36, 50, 59);

    
}
.img3{
    width: 14em;
    height: 12em;
    float: left;
    border: 0.2em solid rgb(41, 32, 32);
    margin: 1em;
}

footer .contenedor {
   height: 100%;
  bottom: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.containerNos{
    
    display: grid;
    width: 100%;
    height: 38em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);  
    background-color: rgb(192, 192, 232);
   gap: 2em;
   padding: 1em;
}
#item1{
background-color: green;
width: 25em;
}
#item2{
background-color: red;
width: 25em;
}
#item3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    align-items: center;
    padding: 3em;
    font-size: 1.2em;
}
#item4{
    width: 25em;
    ;
}
#item5{
    width: 25em;;
}

@media (min-width: 768px) {
    .redes {
        width: auto;
    }

    footer .contenedor {
        justify-content: space-between;
    }
}


@media (min-width: 1024px) {
    .contenedor {
        width: 1000px;
    }   
}
